:root {
  --color-purple--500: #4f4ffa;
  --color-purple-hover: #0302fa;
  --color-white: #ffffff;
  --bgColor-overlay: rgba(42, 45, 84, 0.6);
  --color-grey-200: #f8f8f8;
  --color-font: #50606c;
  --color-a: #444a57;
  --color-p: #818998;
  --color-div-hover: #4e4ffa;
  --bgcolor-container: #f8f9fb;
  --color-nameBox: #5e6778;
  --color-footer: #292e54;
  --color-footer-text: #d1d7e9;
  --color-footer-input: #26294d;
}
