.container-featuredcars {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
}
.featuredcars--div {
  display: flex;
  justify-content: center;
}
.cars--info {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  display: flex;
}
