.container-newCars {
  background-color: var(--bgcolor-container);
  display: flex;
  flex-direction: column;
}
.img-container {
  display: flex;
  justify-content: space-evenly;
}
.right-write {
  a {
    color: var(--color-a);
    display: inline-block;
    font-size: 30px;
  }
  p {
    color: var(--color-p);
    font-size: 16px;
    margin-top: 20px;
  }
  button {
    margin-top: 30px;
  }
}
